<div class="mi-div">
  <div class="row">
    <div class="col-sm-2">
      <div class="card card-horizontal">
        <img src="../../../../assets/images/ahorcado.png" class="card-img" alt="Imagen de la tarjeta">
        <div class="card-body">
          <h5 class="card-title">Título de la tarjeta</h5>
          <a routerLink="/home/ahorcado" class="btn btn-primary">Ahorcado</a>
        </div>
      </div>    
    </div>

    <div class="col-sm-2">
      <div class="card card-horizontal">
        <img src="../../../../assets/images/ahorcado.png" class="card-img" alt="Imagen de la tarjeta">
        <div class="card-body">
          <h5 class="card-title">Título de la tarjeta</h5>
          <a routerLink="/home/chat" class="btn btn-primary">Ir a algún lugar</a>
        </div>
      </div>    
    </div>

    <div class="col-sm-2">
      <div class="card card-horizontal">
        <img src="../../../../assets/images/ahorcado.png" class="card-img" alt="Imagen de la tarjeta">
        <div class="card-body">
          <h5 class="card-title">Título de la tarjeta</h5>
          <a href="#" class="btn btn-primary">Ir a algún lugar</a>
        </div>
      </div>    
    </div>

    <div class="col-sm-2">
      <div class="card card-horizontal">
        <img src="../../../../assets/images/ahorcado.png" class="card-img" alt="Imagen de la tarjeta">
        <div class="card-body">
          <h5 class="card-title">Título de la tarjeta</h5>
          <a href="#" class="btn btn-primary">Ir a algún lugar</a>
        </div>
      </div>    
    </div>
  </div>
</div>
