  <div class="row d-flex justify-content-center mt-5" style="height: 100vh;">
    <div class="col-sm-3">
      <div class="card card-horizontal p-2">
        <img  src="../../../../assets/images/ahorcado.png" class="card-img" alt="Imagen de la tarjeta">
        <div class="card-body">
          <h5 class="card-title text-light">AHORCADO</h5>
          <a routerLink="/home/ahorcado" class="btn btn-primary">JUGAR</a>
        </div>
      </div>    
    </div>

    <div class="col-sm-3">
      <div class="card card-horizontal p-2">
        <img src="../../../../assets/images/higer-lower.png" class="card-img" alt="Imagen de la tarjeta">
        <div class="card-body">
          <h5 class="card-title text-light">HIGHER OR LOWER</h5>
          <a routerLink="/home/high-low" class="btn btn-primary">JUGAR</a>
        </div>
      </div>    
    </div>

    <div class="col-sm-3">
      <div class="card card-horizontal p-2">
        <img src="../../../../assets/images/preguntados.png" class="card-img" alt="Imagen de la tarjeta">
        <div class="card-body">
          <h5 class="card-title text-light">PREGUNTADOS</h5>
          <a routerLink="/home/preguntados" class="btn btn-primary">JUGAR</a>
        </div>
      </div>    
    </div>      
  </div>

  


