<div class="container">
  <div class="container d-flex justify-content-center">
    <img class="" src="assets/images/Logo-preguntados.png" />
  </div>

  <div class="d-flex justify-content-center text-light">
    <h3 class="badge bg-secondary mx-2">Puntaje: {{ puntaje }}</h3>
    <h3 class="badge bg-secondary mx-2">Categoria: {{ categoria }}</h3>
    <h3 class="badge bg-secondary mx-2">Tiempo restante: {{ time }}</h3>
  </div>

  <div class="row mt-2">
    <div class="col-12 d-flex justify-content-center">
      <h2  [innerHTML]="decodeHtml(pregunta!)" class="badge bg-secondary">{{pregunta}}</h2>
    </div>
</div>

  <div *ngFor="let opcion of opciones" class="row">
    <div class="col-12 d-flex justify-content-center">
      <button
        [innerHTML]="decodeHtml(opcion)"
        type="button"
        class="btn btn-primary my-2"
        (click)="comprobar(opcion)"
      >
        {{ opcion }}
      </button>
    </div>
  </div>

  <div class="container d-flex justify-content-center">
    <img class="p-3" src="assets/images/pjsPreguntados.png" />
  </div>
</div>
