<head>
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"> 
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.bundle.min.js"> 
  <link href="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"> 
  <link href="https://cdnjs.cloudflare.com/ajax/libs/MaterialDesign-Webfont/3.6.95/css/materialdesignicons.css"> 
</head>
<div class="page-content page-container" id="page-content">
  <div class="padding">
    <div class="row container d-flex justify-content-center">
      <div class="col-xl-10 col-md-12">
        <div class="card user-card-full">
          <div class="row m-l-0 m-r-0">
            <div class="col-sm-6 bg-c-lite-green user-profile">
              <div class="card-block text-center text-white">
                <div class="m-b-25">
                  <img
                    src="./assets/images/Yo.jpg"
                    class="img-radius"
                    alt="User-Profile-Image"style="max-width: 100%; max-height: 200px;"
                  />
                </div>
                <h6 class="f-w-600">Matias Ezequiel Corta</h6>
                <p>Programacion UTN</p>
                <i
                  class="mdi mdi-square-edit-outline feather icon-edit m-t-10 f-16"
                ></i>
              </div>
            </div>
            <div class="col-sm-8">
              <div class="card-block">
                <h6 class="m-b-20 p-b-5 b-b-default f-w-600">Informacion</h6>
                <div class="row">
                  <div class="col-sm-6">
                    <p class="m-b-10 f-w-600">Fecha de nacimiento</p>
                    <h6 class="text-muted f-w-400">14/04/1999</h6>
                  </div>
                  <div class="col-sm-6">
                    <p class="m-b-10 f-w-600">Email</p>
                    <h6 class="text-muted f-w-400">matiascorta999@gmail.com</h6>
                  </div>
                  <div class="col-sm-6">
                    <p class="m-b-10 f-w-600">Telefono</p>
                    <h6 class="text-muted f-w-400">11564654</h6>
                  </div>
                </div>
                <h6 class="m-b-20 m-t-40 p-b-5 b-b-default f-w-600">
                  Mi juego
                </h6>
                <div class="row">
                  <div class="col-sm-6">
                    <p class="m-b-10 f-w-600">Nombre</p>
                    <h6 class="text-muted f-w-400"> ----</h6>
                  </div>
                  <div class="col-sm-6">
                    <p class="m-b-10 f-w-600">Reglas</p>
                    <h6 class="text-muted f-w-400">----</h6>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
